# R History files
.Rhistory

# R Example code in package build process
*-Ex.R

# Python
*.pyc
*.pyo
*.tmp*

# Java
*.class

# Temp files
~*

# Emacs specific
[#]*[#] 
*~

# Generic files
*.DS_Store
*.lock
*.lck
#.LCK
*.DS_Store
*.swp
*.out
